mat-card {
  background-color: rgba(122, 122, 122, 0.2);
}

pre {
  background-color: #182025;
  border-radius: 15px;
  font-size: small;
}

code {
  color: white;
}

.maintain-height {
  min-height: 650px;
}

.code-tag {
  color: #65b2ff;
}

.code-tag-light {
  color: #78ffff;
}

.code-indent-ln1 {
  margin-left: 20px;
}

.code-indent-ln2 {
  margin-left: 40px;
}

.code-comment {
  color: #22aa44;
}

.code-highlight {
  color: #ddbb88;
}
