<div class="container">
  <h1 class="text-white text-center pt-5">
    Build Info for MattsMasterPlan.com
  </h1>
  <div class="row pt-5">
    <div class="col-md-12">
      <mat-card class="text-white">
        <mat-card-header>
          <mat-card-title>
            <h3>Dependencies</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list compact>
            <mat-list-item *ngFor="let dep of dependencies">
              <h3 matLine class="text-white">{{ dep.name }}</h3>
              <a [href]="dep.link" matLine>{{ dep.version }}</a>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-md-12">
      <mat-card class="text-white">
        <mat-card-content class="lead py-5">
          MattsMasterPlan.com is an Angular 9 web application. Each webpage is a
          TypeScript component. The styling is done using Angular Material
          Design and Bootstrap is used to maintain a mobile friendly structure.
          Some applications on this site use PHP and MySQL on the backend to
          interact with a database. The source code of this site is available on
          my GitHub.
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
