<div class="container">
  <h1 class="text-white text-center pt-5">
    Build Info for MattsMasterPlan.com
  </h1>
  <div class="row pt-5">
    <div class="col-md-6">
      <mat-card class="text-white maintain-height">
        <mat-card-header>
          <mat-card-title>
            <h3>Dependencies</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list compact>
            <mat-list-item *ngFor="let dep of dependencies">
              <h3 matLine class="lead text-white">{{ dep.name }}</h3>
              <a matLine [href]="dep.link">{{ dep.version }}</a>
              <span matLine class="text-white" *ngIf="dep.check"
                >CLI version check: <i>{{ dep.check }}</i></span
              >
              <span matLine class="text-white" *ngIf="dep.update"
                >Update command: <i>{{ dep.update }}</i></span
              >
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="text-white maintain-height">
        <mat-card-header>
          <mat-card-title>
            <h3>ngFor with material design list</h3>
          </mat-card-title>
          <mat-card-subtitle class="text-white lead">
            Generating the dependency list
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="pl-3">
          <h5>app.component.html</h5>
          <pre>
  <code>
    <span class="code-tag">&lt;mat-list compact&gt;</span>
    <span class="code-tag code-indent-ln1">&lt;mat-list-item</span> <span class="code-tag-light">&#42;ngFor=</span><span class="code-highlight">"</span><span class="code-tag">let</span> <span class="code-tag-light">dep</span> <span class="code-tag">of</span> <span class="code-tag-light">dependencies</span><span class="code-highlight">"</span><span class="code-tag">></span>
    <span class="code-comment code-indent-ln2">&lt;!-- For lists that require multiple lines per item,
    <span class="code-indent-ln3"></span>annotate each line with a matLine attribute. --&gt;</span>
    <span class="code-tag code-indent-ln2">&lt;h3</span> <span class="code-tag-light">matLine</span><span class="code-tag">></span>{{'{'}}{{'{'}} <span class="code-tag-light">dep.name</span> {{'}'}}{{'}'}}<span class="code-tag">&lt;/h3></span>
    <span class="code-tag code-indent-ln2">&lt;a</span> <span class="code-tag-light">matLine</span> <span class="code-tag-light">&#91;href&#93;=</span><span class="code-highlight">"</span><span class="code-tag-light">dep.link</span><span class="code-highlight">"</span><span class="code-tag">></span> {{'{'}}{{'{'}} <span class="code-tag-light">dep.version</span> {{'}'}}{{'}'}}<span class="code-tag">&lt;/a></span>
    <span class="code-tag code-indent-ln2">&lt;span</span> <span class="code-tag-light">matLine class=</span><span class="code-highlight">"text-white"</span>
    <span class="code-tag-light code-indent-ln3">&#42;ngIf="dep.check"</span><span class="code-tag">></span>
    <span class="code-indent-ln3"></span>CLI version check: {{'{'}}{{'{'}} <span class="code-tag-light">dep.check</span> {{'}'}}{{'}'}}<span class="code-tag">&lt;/span></span>
    <span class="code-tag code-indent-ln1">&lt;/mat-list-item></span>
    <span class="code-tag">&lt;/mat-list></span>
  </code>
  </pre>
          <h5>app.component.ts</h5>
          <pre>
  <code>
    <span class="code-tag">this</span><span class="code-tag-light">.dependencies =</span> [
    <span class="code-indent-ln1">{{'{'}}</span>
    <span class="code-tag-light code-indent-ln2">name:</span> <span class="code-highlight">'Angular'</span>,
    <span class="code-tag-light code-indent-ln2">version:</span> <span class="code-highlight">'9.0.5'</span>,
    <span class="code-tag-light code-indent-ln2">link:</span> <span class="code-highlight">'https://www.npmjs.com/package/@angular/core',</span>
    <span class="code-tag-light code-indent-ln2">check:</span> <span class="code-highlight">'ng version'</span>
    <span class="code-indent-ln1">{{'}'}},</span>
    ...
    ];
  </code>
  </pre>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-md-12">
      <mat-card class="text-white">
        <mat-card-content class="lead py-5">
          MattsMasterPlan.com is an Angular 9 web application with each webpage
          being a TypeScript component. The styling is done using Angular
          Material Design with Bootstrap used to maintain mobile compatibility.
          Applications on this site use PHP and MySQL on the backend to interact
          with a database. All source code for this site is available on my
          GitHub.
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
