<div class="container container-background">
  <div class="row">
    <div class="col">
      <google-map
        [height]="height"
        width="auto"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
      >
        <map-marker
          #markerElem
          *ngFor="let marker of markers"
          [position]="marker.position"
          [label]="marker.label"
          [title]="marker.title"
          [options]="marker.options"
        >
        </map-marker>

        <!-- <map-info-window>{{ infoContent }}</map-info-window> -->
      </google-map>
    </div>
  </div>
  <div class="row">
    <div class="col text-center text-white">
      <h1 class="gallery-title">Rio de Janeiro</h1>
    </div>
  </div>
  <div
    class="row custom"
    id="gallery"
    data-toggle="modal"
    data-target="#imgModal"
  >
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'brazil1.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/brazil1.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'brazil2.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/brazil2.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'brazil3.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/brazil3.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'brazil4.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/brazil4.jpg"
        alt="First slide"
      />
    </div>
  </div>
  <div
    class="row custom"
    id="gallery"
    data-toggle="modal"
    data-target="#imgModal"
  >
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'brazil9.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/brazil9.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'brazil10.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/brazil10.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'brazil11.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/brazil11.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'brazil5.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/brazil5.jpg"
        alt="First slide"
      />
    </div>
  </div>

  <div class="row">
    <div class="col text-center text-white">
      <h1 class="gallery-title">Iguazu Falls</h1>
    </div>
  </div>
  <div
    class="row custom"
    id="gallery"
    data-toggle="modal"
    data-target="#imgModal"
  >
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'brazil6.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/brazil6.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'brazil7.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/brazil7.jpg"
        alt="First slide"
      />
    </div>
  </div>
  <div class="row">
    <div class="col text-center text-white">
      <h1 class="gallery-title">Angra dos Reis</h1>
    </div>
  </div>
  <div
    class="row custom"
    id="gallery"
    data-toggle="modal"
    data-target="#imgModal"
  >
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'brazil8.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/brazil8.jpg"
        alt="First slide"
      />
    </div>
  </div>
</div>
