<div class="container container-background">
  <div class="row py-3">
    <div class="col">
      <google-map
        [height]="height"
        width="auto"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
      >
        <map-marker
          #markerElem
          *ngFor="let marker of markers"
          [position]="marker.position"
          [label]="marker.label"
          [title]="marker.title"
          [options]="marker.options"
        >
        </map-marker>

        <!-- <map-info-window>{{ infoContent }}</map-info-window> -->
      </google-map>
    </div>
  </div>
  <div class="row">
    <div class="col text-center text-white">
      <h1 class="gallery-title">Rio de Janeiro</h1>
    </div>
  </div>
  <div class="row py-3">
    <div class="col text-center">
      <youtube-player videoId="c4KBhKktgdY"> </youtube-player>
    </div>
  </div>
  <div
    class="row custom"
    id="gallery"
    data-toggle="modal"
    data-target="#imgModal"
  >
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'rio1_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/rio1_sm.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'rio2_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/rio2_sm.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'rio3_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/rio3_sm.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'rio4_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/rio4_sm.jpg"
        alt="First slide"
      />
    </div>
  </div>
  <div
    class="row custom"
    id="gallery"
    data-toggle="modal"
    data-target="#imgModal"
  >
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'rio5_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/rio5_sm.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'rio6_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/rio6_sm.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'rio7_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/rio7_sm.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'rio8_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/rio8_sm.jpg"
        alt="First slide"
      />
    </div>
  </div>

  <div class="row">
    <div class="col text-center text-white">
      <h1 class="gallery-title">Iguazu Falls</h1>
    </div>
  </div>
  <div class="row py-3">
    <div class="col text-center">
      <youtube-player videoId="VqbDuV7Rf9k"> </youtube-player>
    </div>
  </div>
  <div
    class="row custom"
    id="gallery"
    data-toggle="modal"
    data-target="#imgModal"
  >
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'iguazu1_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/iguazu1_sm.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'iguazu2_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/iguazu2_sm.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'iguazu3_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/iguazu3_sm.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'iguazu4_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/iguazu4_sm.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'iguazu5_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/iguazu5_sm.jpg"
        alt="First slide"
      />
    </div>
  </div>
  <div class="row">
    <div class="col text-center text-white">
      <h1 class="gallery-title">Angra dos Reis</h1>
    </div>
  </div>
  <div class="row py-3">
    <div class="col text-center">
      <youtube-player videoId="25qMuP9xbFc"> </youtube-player>
    </div>
  </div>
  <div
    class="row custom"
    id="gallery"
    data-toggle="modal"
    data-target="#imgModal"
  >
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'angra1_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/angra1_sm.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'angra2_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/angra2_sm.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'angra3_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/angra3_sm.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'angra4_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/angra4_sm.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'angra5_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/angra5_sm.jpg"
        alt="First slide"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img
        (click)="openDialog('brazil-twentytwenty', 'angra6_lg.jpg')"
        class="w-100"
        src="../../../assets/images/brazil-twentytwenty/angra6_sm.jpg"
        alt="First slide"
      />
    </div>
  </div>
</div>
