<div class="jumbotron-fluid">
  <div class="title-container">
    <h1 class="display-1 text-center mt-1 font-weight-normal text-white">
      Dan Case Build
    </h1>
    <h3 class="text-center mb-5 text-white">March 2019</h3>
  </div>
</div>
<div class="container">
  <div class="text-center pt-5">
    <p class="lead">
      Black anodized aluminum and a minimalistic design led me to choose Dan
      Case. 7.2 Liters is not a lot of volume for computer components, but I was
      able to build a solid computer that will serve as my workstation for many
      years. Most impressive is how tight the tolerances were on this mini ITX
      board. The CPU cooler has 1mm clearance on all sides. Despite this, there
      is no contact and everything fits as expected. My key component is the 970
      PRO M.2 SSD. This incredibly fast 1 TB drive is smaller than a stick of
      RAM and mounts directly to the motherboard. Custom length power supply
      cables help airflow and prevent heat buildup. An i7-8700 was chosen
      because it will not get too hot for this cooler to handle. Vents allow
      heat to rise out of the top of the case and I have normal operating
      temperatures. I used foam tape to attached the wifi antenna to the back of
      the case.
    </p>
  </div>

  <div class="row text-center pt-5">
    <div class="col-md-12">
      <table class="table table-striped lead">
        <tbody>
          <tr>
            <td><b>Case:</b></td>
            <td>DANCases A4-SFX v3</td>
          </tr>
          <tr>
            <td><b>Motherboard:</b></td>
            <td>ASUS ROG Strix Z390-I Mini ITX</td>
          </tr>
          <tr>
            <td><b>CPU:</b></td>
            <td>Intel Core i7-8700</td>
          </tr>
          <tr>
            <td><b>CPU Cooler:</b></td>
            <td>Noctua NH-L9i</td>
          </tr>
          <tr>
            <td><b>GPU:</b></td>
            <td>Nvidia GTX 1080 Founders Edition</td>
          </tr>
          <tr>
            <td><b>Memory:</b></td>
            <td>Corsair Vengeance LPX 16GB DDR4 3000MHz</td>
          </tr>
          <tr>
            <td><b>Storage:</b></td>
            <td>
              Samsung 970 PRO 1TB NVMe M.2 SSD <br />
              Samsung 850 EVO 500GB 2.5" SSD
            </td>
          </tr>
          <tr>
            <td><b>Power Supply:</b></td>
            <td>Corsair SF600 Platinum</td>
          </tr>
          <tr>
            <td><b>Power Supply Cables:</b></td>
            <td>Pslate Customs</td>
          </tr>
          <tr>
            <td><b>Monitors:</b></td>
            <td>2x LG 27" 4K HDR (27UK600-W)</td>
          </tr>
          <tr>
            <td><b>Monitors Stand:</b></td>
            <td>Kanto DMS2000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="">
    <div class="col-lg-10 mx-auto">
      <div class="mt-5 bg-transparent">
        <img
          class="img-fluid"
          src="../../../assets/images/dancase-build/Test_Results.jpg"
          alt="Image Link Broken"
          title="Computer test results"
        />
      </div>
    </div>
  </div>
  <div class="mt-5">
    <div class="text-center"><h2>Build</h2></div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow bg-transparent">
          <a href="javascript:void(0);">
            <img
              class="card-img-top"
              src="../../../assets/images/dancase-build/Z390_SSD_CPU_400x400px.jpg"
              alt="Image Link Broken"
              title="Motherboard with SSD and CPU installed"
              (click)="
                openDialog('dancase-build', 'Z390_SSD_CPU_1000x1000px.jpg')
              "
            />
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow bg-transparent">
          <a href="javascript:void(0);">
            <img
              class="card-img-top"
              src="../../../assets/images/dancase-build/CPU_Cooler_RAM_403x403px.jpg"
              alt="Image Link Broken"
              title="Motherboard with CPU cooler and RAM installed"
              (click)="
                openDialog('dancase-build', 'CPU_Cooler_RAM_1000x1000px.jpg')
              "
            />
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow bg-transparent">
          <a href="javascript:void(0);">
            <img
              class="card-img-top"
              src="../../../assets/images/dancase-build/Cooler_RAM_401x401px.jpg"
              alt="Image Link Broken"
              title="CPU cooler RAM gap"
              (click)="
                openDialog('dancase-build', 'Cooler_RAM_1000x1000px.jpg')
              "
            />
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow bg-transparent">
          <a href="javascript:void(0);">
            <img
              class="card-img-top"
              src="../../../assets/images/dancase-build/Custom_Cables_401x401px.jpg"
              alt="Image Link Broken"
              title="Custom cables"
              (click)="
                openDialog('dancase-build', 'Custom_Cables_1001x1001px.jpg')
              "
            />
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow bg-transparent">
          <a href="javascript:void(0);">
            <img
              class="card-img-top"
              src="../../../assets/images/dancase-build/Cable_Closeup_401x401px.jpg"
              alt="Image Link Broken"
              title="Cables closeup"
              (click)="
                openDialog('dancase-build', 'Cable_Closeup_1001x1001px.jpg')
              "
            />
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow bg-transparent">
          <a href="javascript:void(0);">
            <img
              class="card-img-top"
              src="../../../assets/images/dancase-build/SSD_Mounted_401x401px.jpg"
              alt="Image Link Broken"
              title="Front mounted SSD"
              (click)="
                openDialog('dancase-build', 'SSD_Mounted_1001x1001px.jpg')
              "
            />
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow bg-transparent">
          <a href="javascript:void(0);">
            <img
              class="card-img-top"
              src="../../../assets/images/dancase-build/Cables_Installed_401x401px.jpg"
              alt="Image Link Broken"
              title="Custom cables installed"
              (click)="
                openDialog('dancase-build', 'Cables_Installed_1001x1001px.jpg')
              "
            />
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow bg-transparent">
          <a href="javascript:void(0);">
            <img
              class="card-img-top"
              src="../../../assets/images/dancase-build/GPU_Installed_399x399px.jpg"
              alt="Image Link Broken"
              title="GPU side"
              (click)="
                openDialog('dancase-build', 'GPU_Installed_1000x1000px.jpg')
              "
            />
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow bg-transparent">
          <a href="javascript:void(0);">
            <img
              class="card-img-top"
              src="../../../assets/images/dancase-build/DAN_Inputs_401x401px.jpg"
              alt="Image Link Broken"
              title="Rear panel"
              (click)="
                openDialog('dancase-build', 'DAN_Inputs_1001x1001px.jpg')
              "
            />
          </a>
        </div>
      </div>
    </div>
    <div class="text-center pb-4"><h2>Complete</h2></div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card mb-4 box-shadow bg-transparent">
          <a href="javascript:void(0);">
            <img
              class="card-img-top"
              src="../../../assets/images/dancase-build/Completed_Build_1_533x397px.jpg"
              alt="Image Link Broken"
              title="Complete build"
              (click)="
                openDialog('dancase-build', 'Completed_Build_1_999x751px.jpg')
              "
            />
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card mb-4 box-shadow bg-transparent">
          <a href="javascript:void(0);">
            <img
              class="card-img-top"
              src="../../../assets/images/dancase-build/Completed_Build_2_537x397px.jpg"
              alt="Image Link Broken"
              title="Complete build"
              (click)="
                openDialog('dancase-build', 'Completed_Build_2_999x752px.jpg')
              "
            />
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card mb-4 box-shadow bg-transparent">
          <a href="javascript:void(0);">
            <img
              class="card-img-top"
              src="../../../assets/images/dancase-build/Desk_Photo_1000x750px.jpg"
              alt="Image Link Broken"
              title="Complete build"
              (click)="openDialog('dancase-build', 'Desk_Photo_1000x750px.jpg')"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
