<div class="container">
  <div class="row">
    <div class="col-md-12 text-center text-white pt-3 pb-5">
      <h1 class="display-4">National Park Geojson Data</h1>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-6">
      <mat-list>
        <a mat-list-item *ngFor="let park of parkData">
          <!-- assigning the style in a div here because I am fighting
        against the post proccessing mat list item classes -->
          <div class="text-white" style="width: 100%; text-align: left;">
            {{ park.name }}
            <a
              href="javascript:void(0);"
              (click)="previewGeojson(park)"
              ><small class="pl-2">Preview</small></a
            >
            <a
              href="javascript:void(0);"
              (click)="supplyDownload(park.parkCode)"
              ><small class="pl-2">Download</small></a
            >
          </div>
        </a>
      </mat-list>
    </div>
    <div class="col-md-6">
      <div>
        <google-map

          width="auto"
          [zoom]="zoom"
          [center]="center"
          [options]="options"
        >
        </google-map>
      </div>
      <div class="text-center text-white pt-5">
        <h2>{{this.selectedParkName}}</h2>
      </div>
    </div>
  </div>
</div>
