<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Sources of the River</h1>
      <h3>Tracking David Thompson Across Western North America</h3>
      <h5>Written by Jack Nisbet</h5>
    </div>
    <div class="col-lg-12 text-center">
      <br />
      <img
        src="../../../assets/images/sources-of-the-river/Sources of the River Cover 380x500px.jpg"
        class="img-fluid"
        alt="..."
      />
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 py-3">
      <h4>Words:</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <p>
        (pg. vi) Perambulations - to travel over or through especially on foot.
      </p>
      <p>
        (pg. 37) assiduity - constant or close attention to what one is doing.
      </p>
      <p>
        (pg. 45) uxorious - having or showing an excessive or submissive
        fondness for one's wife.
      </p>
      <p>
        (pg. 52) bateaux - a light flat-bottomed riverboat used in eastern and
        central North America.
      </p>
      <p>
        (pg. 60) incorrigible - (of a person or their tendencies) not able to be
        corrected, improved, or reformed.
      </p>
      <p>(pg. 102) ponderous - slow and clumsy because of great weight.</p>
      <p>(pg. 176) obstreperous - noisy and difficult to control.</p>
      <p>
        (pg. 185) decoction - the liquor resulting from concentrating the
        essence of a substance by heating or boiling, especially a medicinal
        preparation made from a plant.
      </p>
      <p>
        (pg. 201) invective - insulting, abusive, or highly critical language.
      </p>
      <p>
        (pg. 223) spume - froth or foam, especially that found on waves.
      </p>
      <p>
        (pg. 257) rheumy - when a watery fluid has collected in or drips from
        the nose or eyes.
      </p>
      <p>(pg. 257) farinaceous - consisting of or containing starch.</p>
      <p>(pg. 262) parboiling - partly cook (food) by boiling.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 py-3">
      <h4>Notes from the text:</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <p>
        (pg. vii) Work that Thompson could have read while being educated:
      </p>
      <p class="indent">
        Travels through the Interior Parts of North America (1778) by Jonathan
        Carver
      </p>
      <p class="indent">
        Journey from Prince of Wales Fort (1795) by Samuel Hearne
      </p>
      <p>
        (pg. 5) A biography called Narrative was written from Thompson's notes
      </p>
      <p>
        (pg. 5) He was moving through territory that had never been described on
        paper
      </p>
      <p>
        (pg. 10) 1784 Thompson sailed from London to Hudson Bay – Churchill
        Factory on western shore
      </p>
      <p>
        (pg. 11) French trader controlled great lakes region but had British
        below in Ohio and above by Hudson Bay. Britain claimed the land but
        French didn’t acknowledge them. French and Indian wars broke out. France
        surrendered all claim in 1763.
      </p>
    </div>
    <div class="col-lg-4">
      <figure class="figure">
        <img
          src="../../../assets/images/sources-of-the-river/Settlements Visited by David Thompson Map 600x432px.jpg"
          class="img-fluid"
          (click)="
            openDialog(
              'sources-of-the-river',
              'Settlements Visited by David Thompson Map 1388x1001px.jpg'
            )
          "
        />
        <figcaption class="figure-caption">
          First settlements visited by David Thompson upon arriving to North
          America.
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>
        (pg. 13) Bay Company profits were suffering when Thompson landed at
        Churchill Factory in 1784. Thompson described life at the factory as
        “growling at the cold” and “quarrelling with mosquitoes and sand flies.”
      </p>
      <p>
        (pg. 14) 1785 Thompson reassigned to York Factory, 150 miles to the
        south
      </p>
      <p>
        (pg. 15) line-hauling: attach long ropes to the bow of a canoe. Men
        ashore haul the boat upstream while one stays aboard to steer. Thompson
        labored for days at the end of a line.
      </p>
      <p>
        (pg. 16) Traveling on Saskatchewan river, met French trader at a post.
        “Every sentence he spoke or answer he made was attended by a smile and a
        slight bow, our men grave and stiff as pokers. A scot trader was “happy
        to have the pleasure of speaking English”.
      </p>
      <p>(pg. 16) 1786 Thompson helped build South Branch House</p>
      <p>
        (pg. 19) Thompson described the Rocky Mountains as “an impassable
        barrier, even to the Eagle” when he saw them for the first time
      </p>
      <p>
        (pg. 21) A Cree Indian told Thompson, about a stallion, “But as he was a
        slave to Man, like the dog, which carried our things; he was named Big
        Dog”
      </p>
      <p>
        (pg. 23) The Blackfeet tribes were the first in their part of the
        country to own both horses and guns. They soon forced their rivals off
        the choicest buffalo grounds.
      </p>
      <p>
        (pg. 24) Thompson describes bitter chokecherries: “Required the powers
        of an Ostrich to digest”
      </p>
      <p>
        (pg. 25) In Narrative Thompson writes “The erect walk of the Indian is
        shown to great advantage….the white people seldom in an erect posture,
        their bodies swayed from right to left, and some with their arms, as if
        to saw a passage through the air”
      </p>
      <p>
        (pg. 26) To the Blackfeet, the left hand was the hand of greeting,
        whereas the right hand that through weapons and pulled triggers was an
        insult. “If one of our people offer you his left hand, give him your
        left hand, for the right hand is no mark of friendship”
      </p>
      <p>
        (pg. 36) Canadians and Indians inquired why Thompson observed the sun
        and moon. He explained “it was to determine the distance and direction
        from the place I observed to other places”. Thompson went on to write
        that neither the Indians or Canadians believed him.
      </p>
      <p>
        (pg. 36) In summer of 1790, Thompson was tasked with charting the 750
        mile route from Cumberland House to York Factory. These maps were sent
        to the Bay Company headquarters in London, and plotted onto official
        maps of the region by cartographers.
      </p>
      <p>
        (pg. 36) Bay Company recognized Thompsons talents and sent him a gift of
        a brass sextant made by Dollond
      </p>
      <p>
        (pg. 41) Thompson headed to Grand Portage, the North West Company’s
        field headquarters on Lake Superior
      </p>
      <p>
        (pg. 42) Thompson left Grand Portage and arrived at Rainy Lake where he
        was to survey the region.
      </p>
      <p>
        (pg. 49) The marriage customs of the Cree Indians are described by
        Thompson: “Their marriages are without noise or ceremony; nothing is
        requisite but the consent of the parties and the parents… when
        contrariety of disposition prevails, so that they cannot live peaceably
        together, they separate with as little ceremony as they came together,
        and both parties are free to attach themselves to whom they will”
      </p>
      <p>
        (pg. 50) Fall 1800, Thompson and his wife Charlotte took up residence at
        the North West Company’s new Rocky Mountain House
      </p>
      <p>
        (pg. 59) Thompson describes how the Piegan Indians hunt eagles for
        sport:
      </p>
      <p class="indent">
        “The natives made shallow pits which they covered with slender willows
        and grass under which they lay, with a large piece of fresh meat
        opposite their breasts; thus arranged they patiently await the flight of
        the eagle, which is first seen very high, scaling in rude circles, but
        gradually lowering, till at length he seems determined to pounce upon
        the meat, his descent is then very swift with his claws extended, the
        moment he touches the meat the Indians grasp his two legs in his hands,
        and dashes him, through the slender willows to the bottom of the pit and
        strikes his head till he is dead… Lying in this position, and frequently
        somewhat benumbed, it requires an active man to pull down an Eagle with
        his wings expanded, and dash him to the ground… As the Eagle never loses
        his courage, the whole must be quickly done, or the Eagle will dart his
        beak into the mans face, and thus get away”
      </p>
      <p>
        (pg. 60) A Piegan chief lectured his men on their rude behavior: “That
        it was an Act neither brave nor manly to rob a few Strangers”
      </p>
      <p>
        (pg. 69) Describing his experience in the front range of the Rockies
        “The scene around us has nothing of the agreeable in it, All nature
        seems to frown, the mountains are dreary, rude & wild, beyond the power
        of the pencil”
      </p>
      <p>
        (pg. 76) When Meriwether Lewis and William Clark started up the Missouri
        River in 1804, they carried a copy of the chart that David Thompson had
        made on his trip to the Mandans seven years earlier
      </p>
      <p>
        (pg. 78) Blackfeet tribes made a sharp distinction between the Canadian
        traders, dubbed “Northern White Men”, and the American white men, whom
        they called “Big Knives”
      </p>
      <p>
        (pg. 80) Kootenai Indians were delighted at the news of the furmens
        coming, and set off to work beaver
      </p>
      <p>
        (pg. 81) In preparation to cross the Rockies, Thompson sent dogsleds up
        the frozen Saskatchewan as far as the first ridge of mountains. There
        the men cached over a thousand pounds of nonperishable supplies
      </p>
      <p>
        (pg. 86) Thompson stopped to refresh his horses near Kootanae Pound, a
        narrow strip of grassland that led up to a sheer precipice. Kootenai
        hunters had long used this place as a buffalo jump, herding the animals
        up the slope and then driving them over the edge of the cliff
      </p>
      <p>
        (pg. 97) Piegans joined the camp, and after a week they got hungry and
        left. They stole three horses on their way out.
      </p>
      <p>
        (pg. 102) Columbia Lake, the source of the Columbia River, lies a few
        miles upstream from Windermere Lake in southeastern British Columbia.
        (one of these lakes) is bordered on the east by Mount Sabine and on the
        west by Purcell Range.
      </p>
      <p>
        (pg. 103) Thompson had named a river McGillivrays River in honor of his
        bosses. Today it is known as Kootenay River in British Columbia or the
        Kootenai River in Montana and Idaho (spelling difference)
      </p>
      <p>
        (pg. 111) A quote from a business letter Thompson wrote: “You know that
        I do nothing without calculation, so that I know fairly what I am about”
      </p>
      <p>
        (pg. 125) Thompson noted: “Legs of the Lake Indians crooked inwards by
        sitting cross-legged in their small canoes”
      </p>
      <p>
        (pg. 138) Thompson could be considered a philosopher. The usage of that
        term at that time was someone well versed in a particular area of
        natural science, such as botany, zoology, or in this case, astronomy.
      </p>
      <p>
        (pg. 145) In 1809 Thompson reached the marshy plains around the modern
        town of Cusick, Washington. Friendly Kalispel Indians camped there were
        so completely untouched by white culture that they lacked iron tools of
        any sort.
      </p>
      <p>
        (pg. 149) Thompson had ordered twenty pounds of soap and noted “For
        without soap, there is no effective cleanliness; this we know very well”
      </p>
      <p>
        (pg. 154) Thompson referring to a stretch of land along the Flathead
        River: “…it will become the abode of civilized Man” speaking about its
        rich soil and opportunity for pastoral farming
      </p>
      <p>
        (pg. 168) High tensions between the Britain and the United States caused
        tension in the region. None of these international crises affected
        Thompson’s plans.
      </p>
      <p>
        (pg. 173) First week of December 1810, the temperature had not risen
        higher than twenty below zero for several days. Thompson was camped near
        Brule Lake.
      </p>
      <p>
        (pg. 176) Thompson described an explorer who beat one of his dogs: “He
        is what we call a flash man, a showy fellow before the women but a
        coward in heart, and would willingly desert if he had the courage to go
        alone.”
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <figure class="figure">
        <img
          src="../../../assets/images/sources-of-the-river/David Thompson 1811 Athabasca Pass Route 600x373px.jpg"
          (click)="
            openDialog(
              'sources-of-the-river',
              'David Thompson 1811 Athabasca Pass Route 1607x1001px.jpg'
            )
          "
        />
      </figure>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-12">
      <p>(pg. 176) January 1811 Thompson crested Athabasca Pass</p>
      <p>
        (pg. 183) The Colville River empties into the Columbia just below Kettle
        Falls
      </p>
      <p>
        (pg. 184) An Indian count Salmon as they travel upstream, but does not
        kill them. A Colville Indian Salmon Chief announces that the prescribed
        number of salmon had ascended the falls, then men set out nets and
        baskets to begin the harvest in earnest.
      </p>
      <p>
        (pg. 191) Thompson developed a method to count Indian groups he met. It
        was his custom to number the men who showed up to pass the pipe, then
        multiply by seven for an estimate of the size of the band, thus
        providing a consistent first census for the native peoples he
        encountered.
      </p>
      <p>
        (pg. 195) The author is visiting Vernita Bridge over the Columbia River.
        He claims that this was once the hunting and root-digging territory of
        the Wanapam tribe; today it is mostly the domain of the U.S. Government.
        Downstream lies the Hanford Nuclear Reservation. To the east stretches
        an expansive national wildlife refuge. To the west the Yakima Firing
        Range occupies another large tract, set aside as a bombing range for the
        military.
      </p>
      <p>
        (pg. 208) John Jacob Astor’s ship the Tonquin set sail from New York
        Harbor, bound for the Pacific via Cape Horn. In 1811 he reached the
        mouth of the Columbia. David Thompson was still more than a thousand
        miles upstream.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <p>
        (pg. 214) Thompson reaches the mouth of the Columbia and finds Astor
        House. There is no thrill at the historic import of his arrival at the
        mouth of the Columbia, or any expression of disappointment that he did
        not get there first.
      </p>
      <p>
        (pg. 215) The weather around the mouth of the Columbia is hardly ever
        fine; it is too powerful a place, too wild a conjunction among the peaks
        of the Cascades, the draining waters of the whole Inland Northwest, and
        the massive weather systems that spiral across the pacific.
      </p>
      <p>
        (pg. 221) It is within memory of man that a huge landslide crashed down
        from Table Mountain into the heart of the Columbia Gorge.
      </p>
      <p>
        (pg. 242) Thompson and his family got back in their canoe and dashed
        along the north shore of Lake Superior to the narrow straits that lead
        into Lake Huron.
      </p>
      <p>
        (pg. 243) When Thompson arrived in Montreal in the fall of 1812, he
        walked down a city street for the first time in twenty-seven years. He
        purchased a house in the village of Terrebonne, north of the city.
      </p>
      <p>
        (pg. 245) Thompsons big map of 1814 is on permanent display at the
        Provincial Archives of Ontario in Toronto. At ten by six-and-a-half
        feet, the chart covers an entire wall at the entrance of the archive’s
        reading room.
      </p>
      <p>
        (pg. 246) Thompson developed special regard for the peak he named Mount
        Nelson, “which stands alone in native grandeur”. On his map he drew a
        side view of the peak. It’s the only construction like it on the whole
        chart, a nod to the mountain that stood at the center of all his western
        movements.
      </p>
      <p>
        (pg. 249) Summer 1819, Thompson was working again as a surveyor. He was
        on the western end of Lake Erie, in an area of miasmic swamp.
      </p>
      <p>(pg. 252) David and Charlotte Thompson had thirteen children.</p>
      <p>
        (pg. 253) May 1837 found Thompson interviewing, at age sixty-seven, for
        the job of clarifying the Muskoka-Madawaska River route from Georgian
        Bay to the Ottawa River.
      </p>
      <p>
        (pg. 254) Arrowsmith of London, a current world premier cartographer
        according to this author
      </p>
      <p>
        (pg. 254) Britain and the United States were arguing about their border.
        Thompson once suggested a boundary along the 47th parallel from the
        Rocky Mountains to the Columbia, then down the center of that river to
        the sea.
      </p>
      <p>
        (pg. 258) Thompson harnessed the wrong horse to hus buggy, wondering all
        the way why his steed was acting strangely. When everyone laughed at his
        mistake, “he enjoyed it himself and thought it a good joke.”
      </p>
      <p>
        (pg. 258) Thompson died February 1857, two months before his
        eighty-seventh birthday. He is buried with his wife in the Mount Royal
        cemetery in Montreal.
      </p>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-12">
      <p>Book was read and this page was created in 2019.</p>
    </div>
  </div>
</div>
