<h3 class="text-white pt-5">Contact</h3>
<div class="row">
  <div class="col-md-12">
    <mat-card class="text-white">
      <mat-card-header>
        <mat-card-subtitle class="text-white lead">
          If you are interested in having me develop something for you
          independently, do not hesitate to reach out.
        </mat-card-subtitle>
        <mat-card-title class="pt-3"
          >Here are the best ways to reach me:</mat-card-title
        >
      </mat-card-header>
      <mat-card-content class="text-white lead">
        <mat-list>
          <mat-list-item class="text-white lead">
            Email me at Bury45@gmail.com
          </mat-list-item>
          <mat-list-item class="text-white lead">
            Find me on &nbsp;
            <a href="https://linkedin.com/in/matthew-bury" target="_blank">
              LinkedIn</a
            >
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
