.jumbotron {
  min-height: 300px;
  color: white;
  background: url(../../../assets/images/great-basin/GreatBasinBackground.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /* Create space to display background image behind title */
  padding-top: 25rem;
  padding-bottom: 25rem;
}

.nationalpark-text-thin {
  font-family: 'NationalParkThin';
}

.nationalpark-text-regular {
  font-family: 'NationalParkRegular';
}

.nationalpark-text-heavy {
  font-family: 'NationalParkHeavy';
}

.text-background {
  border-radius: 25px;
  border: 2px solid #000000;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
}
