<mat-toolbar>
  <mat-toolbar-row>
    <span class="flx-spacer"></span>
    <a mat-button routerLink="">
    <img
      src="../../../assets/images/home/digitized_initials.png"
      class="logo mx-auto"
    />
  </a>
    <span class="flx-spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="flx-spacer"></span>
    <a
      mat-button
      class="text-white"
      routerLink="projects"
      routerLinkActive="link-active"
      >ABOUT</a
    >
    <a
      mat-button
      class="text-white"
      routerLink="contact"
      routerLinkActive="link-active"
      >GITHUB</a
    >
    <a
      mat-button
      class="text-white"
      routerLink="contact"
      routerLinkActive="link-active"
      >CONTACT</a
    >
    <span class="flx-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
