.highlight {
  background-color: rgba(122, 122, 122, 0.2);
  border-radius: 10px;
}

pre {
  background-color: #182025;
  font-size: small;
}

code {
  color: white;
  font-size: 16px;
}

.code-tag {
  color: #569cd6;
}

.code-tag-light {
  color: #9cdcfe;
}

/* TODO these classes can be programatically generated */
.code-indent-ln1 {
  margin-left: 20px;
}

.code-indent-ln2 {
  margin-left: 40px;
}

.code-indent-ln3 {
  margin-left: 60px;
}

.code-comment {
  color: #6a9955;
}

.code-highlight {
  color: #ce9178;
}

.code-type {
  color: #4ec9b0;
}

.code-value {
  color: #b5cea8;
}

.code-func {
  color: #dcdcaa;
}

.code-return {
  color: #c586c0;
}
