mat-card {
  background-color: rgba(122, 122, 122, 0.2);
  display:flex;
  flex-direction: column;
}

mat-card-content {
  flex-grow: 1;
  overflow: auto;
}
mat-card-header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}



.maintain-height {

  min-height: 400px;
}

.mat-raised-button.mat-blue, .mat-flat-button.mat-blue{
  background-color: lightblue;
  color: white;
}

.headshot {
  background-image: url('../../../assets/images/home/CBA_0079.jpg');
  background-size: cover;
  height: 145px;
  width: 145px;
  margin-right: auto;
  margin-left: auto;
}

.about-me-desc {
  display: flex;
  align-self: center;
}


.about-me-card-header {
  display: flex;
  flex-direction: row;
}

.div-heading {
  color: #6cb1ff;
  font-weight: 300;
  width: 100%;
  height: auto;
}

