<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <mat-card>
        <mat-card-content>
          <div class="float-left pr-3 pt-5">
            <div mat-card-avatar class="headshot"></div>
          </div>
          <div class="text-white lead py-5">
            Hello, my name is Matthew Bury. I am a full stack developer living
            in Ann Arbor, Michigan. My primary professional experience is
            programming in the automotive and aerospace industry. I have special
            interest in Angular/JavaScript, database design, cybersecurity, and
            Geographic Information Systems (GIS). On this personal website, I
            show off projects and pages I've created by mixing my own interests
            and professional skills.
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <h1 class="text-white py-2 text-center">My master plan is as follows...</h1>
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-header
          class="text-center div-heading"
          style="justify-content: center;"
        >
          <mat-card-title class="text-center">
            <h2 class="div-heading">Visit National Parks</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-white lead">
          The plan is to visit all 61 of America's National Parks. Here are my
          trips to the parks I have visited so far:
        </mat-card-content>
        <mat-card-actions>
          <div class="row text-center">
            <div class="col">
              <a [routerLink]="['cuyahoga-valley']">
                <img
                  width="125px"
                  src="../../../assets/images/home/cuyahoga-valley-pin.png"
                />
              </a>
            </div>
            <div class="col">
              <a [routerLink]="['great-basin']">
                <img
                  height="125px"
                  src="../../../assets/images/home/great-basin-pin.png"
                />
              </a>
            </div>
            <div class="col">
              <a [routerLink]="['isle-royale']">
                <img
                  height="125px"
                  src="../../../assets/images/home/isle-royale-pin.png"
                />
              </a>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-md-4">
      <mat-card class="maintain-height">
        <mat-card-header style="justify-content: center;">
          <mat-card-title>
            <h2 class="text-center div-heading">
              Take a Road Trip
            </h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <a [routerLink]="['road-trip-app']" class="text-center lead">
            <img
              src="../../../assets/images/home/national_park_app_screenshot.jpg"
              class="card-img pt-2"
              alt="..."
            />
            <p style="margin-bottom: 0px;" class="pt-2">Open app</p>
          </a>
          <p class="text-white lead">
            Allow current location for intended functionality.
          </p>
          <a [routerLink]="['geojson-download']" class="text-center lead">
            <p style="margin-bottom: 0px;">National Park geojson</p>
          </a>
        </mat-card-content>
        <mat-card-actions>
          <mat-chip-list class="text-center">
            <div class="flx-spacer"></div>
            <mat-chip selected color="primary">
              TypeScript
            </mat-chip>
            <div class="flx-spacer"></div>
            <mat-chip selected color="primary">
              Google Maps
            </mat-chip>
            <div class="flx-spacer"></div>
            <mat-chip selected color="primary">
              GIS
            </mat-chip>
            <div class="flx-spacer"></div>
          </mat-chip-list>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="maintain-height">
        <mat-card-header style="justify-content: center;">
          <mat-card-title>
            <h2 class="text-center div-heading">
              <img
                src="../../../assets/images/home/20050@2x.png"
                class="card-img"
              />
            </h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="text-white lead">
            Scheduling app allowing users to request time off from their job
            using an interactive calendar.
          </p>
          <p class="text-center">
            <a href="/capstone-login.php" class="lead">
              Open app
            </a>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <mat-chip-list class="text-center">
            <div class="flx-spacer"></div>
            <mat-chip selected color="primary">
              Angular 8
            </mat-chip>
            <div class="flx-spacer"></div>
            <mat-chip selected color="primary">
              TypeScript
            </mat-chip>
            <div class="flx-spacer"></div>
            <mat-chip selected color="primary">
              PHP
            </mat-chip>
            <div class="flx-spacer"></div>
            <mat-chip selected color="primary">
              MySql
            </mat-chip>
            <div class="flx-spacer"></div>
          </mat-chip-list>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="maintain-height">
        <mat-card-header style="justify-content: center;">
          <mat-card-title>
            <h2 class="text-center div-heading">
              Build Computers
            </h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="text-white lead">
            My current workstation, a small form factor computer. Dan Case
            featuring custom power supply cables.
          </p>
          <p class="text-center lead">
            <a [routerLink]="['dancase-build']"> Details</a>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <mat-chip-list class="text-center">
            <div class="flx-spacer"></div>
            <mat-chip selected color="primary">
              Bootstrap 4
            </mat-chip>
            <div class="flx-spacer"></div>
          </mat-chip-list>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-md-4">
      <mat-card class="maintain-height">
        <mat-card-header class="text-center" style="justify-content: center;">
          <mat-card-title>
            <h2 class="text-center div-heading">Sources of the River</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="text-white lead">
            Notes from the true story of exploring unmapped wilderness and
            discovering the Columbia river.
          </p>
          <p class="text-center">
            <a [routerLink]="['sources-of-the-river']" class="lead">
              See notes
            </a>
          </p>
        </mat-card-content>
        <mat-card-footer>
          <mat-card-actions>
            <mat-chip-list class="text-center">
              <div class="flx-spacer"></div>
              <mat-chip selected color="primary">
                Cartography
              </mat-chip>
              <div class="flx-spacer"></div>
            </mat-chip-list>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="maintain-height">
        <mat-card-header style="justify-content: center;">
          <mat-card-title>
            <h2 class="text-center div-heading">Ends of the World</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="text-white lead">
            Learning about Earth's past, current, and future mass extinctions.
          </p>
          <p class="text-center text-white lead">
            (coming soon)
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="maintain-height">
        <mat-card-header class="text-center" style="justify-content: center;">
          <mat-card-title>
            <h2 class="text-center div-heading">
              OBDII Monitor
            </h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img
            src="../../../assets/images/home/OBDII_MONITOR_LOGO.png"
            class="card-img"
            alt="..."
          />
          <p class="text-white lead pt-3">
            Android app for communicating diagnostic data with vehicles using
            Bluetooth.
          </p>
          <p class="text-center text-white lead">
            (coming soon)
          </p>
        </mat-card-content>
        <mat-card-actions>
          <mat-chip-list class="text-center">
            <div class="flx-spacer"></div>
            <mat-chip selected color="primary">
              Java
            </mat-chip>
            <div class="flx-spacer"></div>
            <mat-chip selected color="primary">
              Android
            </mat-chip>
            <div class="flx-spacer"></div>
          </mat-chip-list>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
