<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="text-white display-4">
      Isle Royale
    </h1>
    <h3 class="text-white lead">
      September 2018
    </h3>
  </div>
</div>

<mat-card>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile
        ><img
          class="tile-img"
          src="../../../../assets/images/isle-royale/IsleRoyale_2_1000x488px.jpg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img
          class="tile-img"
          src="../../../../assets/images/isle-royale/IsleRoyale_1_1000x488px.jpg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img
          class="tile-img"
          src="../../../../assets/images/isle-royale/IsleRoyale_5_1000x488px.jpg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img
          class="tile-img"
          src="../../../../assets/images/isle-royale/IsleRoyale_6_1000x488px.jpg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img
          class="tile-img"
          src="../../../../assets/images/isle-royale/IsleRoyale_7_1000x488px.jpg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img
          class="tile-img"
          src="../../../../assets/images/isle-royale/IsleRoyale_8_1000x488px.jpg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img
          class="tile-img"
          src="../../../../assets/images/isle-royale/IsleRoyale_3_1000x488px.jpg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img
          class="tile-img"
          src="../../../../assets/images/isle-royale/IsleRoyale_4_1000x488px.jpg"
      /></mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
