<div class="container">
  <div class="row text-center">
    <div class="col-lg-12">
      <!-- Location display panel -->
      <div class="panel-location-display">
        <div class="panel-content content-location-display">
          <div class="lead">
            <span>Detected: </span>
            <span>{{ this.userLocation }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Title, distance, and drive time display panel -->
  <div *ngIf="this.showMainDisplay" class="row text-center">
    <div class="col-lg-12">
      <div class="panel-main-display">
        <div class="content-main-display">
          <div class="h2" id="titleDisplay">{{ this.title }}</div>
          <br />
          <div class="lead">Distance: {{ this.distance }}</div>
          <div class="lead">Drive Time: {{ this.driveTime }}</div>
          <br />
          <!-- Bootstrap classes prevent description from showing on small screens -->
          <span class="d-none d-sm-none d-md-block">{{ this.description }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap classes prevent list from showing on small screens.
     Park list is outside of container class so it can be positioned without compromising bootstrap structure -->
<mat-nav-list class="park-list d-none d-sm-none d-md-block" id="npsListDiv">
  <a mat-list-item *ngFor="let park of park_list" (click)="loadDirectionsTo(park.name, park.description)">
    <!-- assigning the style in a div here because I am fighting
      against the post proccessing mat list item classes -->
    <div style="width: 100%; text-align: left;">{{ park.name }}</div>
  </a>
</mat-nav-list>

<google-map [height]="height" width="auto" [zoom]="zoom" [center]="center" [options]="options">
  <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
    [title]="marker.title" [options]="marker.options">
  </map-marker>

  <!-- <map-info-window>{{ infoContent }}</map-info-window> -->
</google-map>
