#mapDiv {
  height: 100%;
  z-index: 0;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

#changeStartLocButton {
  padding: 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

div.floating-panel-showlist {
  z-index: 1;
  background-color: rgb(244, 244, 244);
  opacity: 0.7;
  /* padding: 30px 25px; */
  border-radius: 0px 10px 10px 0px;
}

div.floating-panel-locdisp {
  z-index: 1;
  background-color: rgb(244, 244, 244);
  opacity: 0.7;
  /* padding: 30px 25px; */
  border-radius: 0px 10px 10px 0px;
}

div.panel-content {
  z-index: 2;
  text-align: left;
  font-family: "Andika";
  /* line-height: 30px;  */
}

.left-info-div {
  float: left;
  height: 100%;
}

.right-info-div {
  height: 100%;
}

.picture-container {
  position: absolute;
  bottom: 1%;
  width: 60%;
  /* height: 400px; */
  right: 20%;
  left: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
}

.picture-div {
  z-index: 1;
  padding: 0% 5%;
  /* height: 50%;
  flex-shrink: 2; */
  object-fit: contain;
  width: 50%;
}

.info-image {
  width: 100%;
  height: auto;
  vertical-align: middle;
  /* width: 100%;
  height: 95%;
  object-fit: contain; */
}

div.panel-1 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 274px;
  height: 70px;
}

div.content-1 {
  position: absolute;
  top: 20px;
  left: 20px;
}

div.panel-2 {
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  background-color: rgb(244, 244, 244);
  opacity: 0.7;
  top: 2%;
  right: 20%;
  left: 20%;
  width: 60%;
  height: 210px;
}

div.content-2 {
  position: absolute;
  top: 2%;
  right: 20%;
  left: 20%;
  width: 60%;
  height: 210px;
}

div.panel-locdisp {
  position: absolute;
  top: 1%;
  left: 0%;
  width: 310px;
  height: 30px;
}

div.content-locdisp {
  font-family: "Andika";
  position: absolute;
  top: 1%;
  left: 0%;
  padding: 0px 25px;
}

.show-list-panel {
  position: absolute;
  top: 5%;
  left: 0%;
  width: 310px;
  height: 30px;
}

.show-list-content {
  font-family: "Andika";
  position: absolute;
  top: 5%;
  left: 0%;
  padding: 0px 25px;
}

.park-list {
  position: absolute;
  top: 15%;
  left: 0%;
  height: 75%;
  z-index: 2;
  padding: 30px 25px;
  text-align: left;
  font-family: "Andika";
  line-height: 30px;
  overflow-y: scroll;
  direction: rtl;
}

.NPS-list-table {
  border: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}

.nps-list-td {
  font-family: "Andika";
  cursor: pointer;
}

.title-container {
  z-index: 2;
  /* height: 150px; */
  /* width: 100%; */
  top: 6%;
  left: 25%;
  right: 25%;
  display: flex;
  /* position: fixed; */
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Andika";
  font-size: 30px;
  font-weight: bold;
}

.distance-container {
  z-index: 2;
  left: 25%;
  right: 25%;
  display: flex;
  /* position: fixed; */
  align-items: center;
  justify-content: center;
}

.distance-td {
  padding-right: 40px;
}

.time-td {
  padding-left: 40px;
}
