<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="text-white display-4">
      Cuyahoga Valley
    </h1>
    <h3 class="text-white lead">
      July 2018
    </h3>
  </div>
</div>
<div class="container">
  <div class="text-background mt-5">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-white nationalpark-text-heavy">
          Geographic Setting
        </h1>
        <p class="lead text-white nationalpark-text-regular">
          Cuyahoga River, the natural central feature of Cuyahoga Valley, has
          provided great wealth to the area surrounding it. The economic
          development of Akron and Cleveland is in part thanks to the Ohio &
          Erie Canal built in 1827. The canal was built parallel to the river
          and consisted of many locks to allow boat passage. Access to this
          waterway led to high concentrations of urban and heavy industrialized
          areas along the river. Located in the Appalachian basin oil producing
          region, the valley is dotted with pumps extracting oil and natural
          gas.
        </p>
        <p class="lead text-white nationalpark-text-regular">
          The Cuyahoga River begins within 15 miles of the Lake Erie shore as
          two bubbling springs. The river first flows 60 miles to the southwest
          until it reaches near Akron. At this point, the river hits an
          east-west continental divide and turns sharply west, forming the
          bottom of a V shape. Cuyahoga River is a classic example of a
          meandering stream. Because of high flood potential, development of the
          Cuyahoga floodplain has been minimal. In 1969, the Cuyahoga became
          known as the “river that burned” because of fire fueled by pollution
          in the river. This fire was so severe that it spurred the passage of
          the Clean Water Act. The river is still not clean enough today for
          recreational activities.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center pt-3 pb-3">
        <a href="javascript:void(0);">
          <img
            src="../../../assets/images/cuyahoga-valley-np/CuyahogaValleyNP_ExtractionMap_471x600px.jpg"
            class="img-fluid"
            (click)="
              openDialog(
                'cuyahoga-valley-np',
                'CuyahogaValleyNP_ExtractionMap_786x1000px.jpg'
              )
            "
          />
        </a>
      </div>
      <div class="col-lg-6 mx-auto">
        <p class="nationalpark-text-regular text-white font-italic">
          The “Clinton” sandstone is an oil and gas deposit in the subsurface of
          eastern Ohio consisting of interbedded sandstones and shales. The
          formation has been producing oil and gas since 1887.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-white nationalpark-text-heavy">
          Geologic History
        </h1>
        <p class="lead text-white nationalpark-text-regular">
          The earliest record of the geologic history in northeast Ohio is
          preserved in the igneous and metamorphic Precambrian basement rocks
          that underlie Paleozoic sedimentary rocks at a depth of over 5,000
          feet in Cuyahoga Valley. These rocks are known in Ohio only from
          deep-well drilling and have been dated at more than one billion years
          old. Toward the end of the Silurian Period, seas gradually receded,
          and evaporation of seawater formed thick salt beds. These salt beds
          are actively mined 1600 feet below Lake Erie near Cleveland. There
          were at least four major continental ice age periods. From oldest to
          youngest, they are: Nebraskan, Kansan, Illinoian, and Wisconsinan. The
          Wisconsinan glacial drift deposits cover nearly all the bedrock in
          Cuyahoga Valley.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-white nationalpark-text-heavy">
          Geologic Features
        </h1>
        <p class="lead text-white nationalpark-text-regular">
          Cuyahoga Valley National Park is located on the glaciated portion of
          the Allegheny Plateau, a physiographic region in the northwestern part
          of the larger Appalachian Plateaus Province. The Dover River flowed
          north, carving a deep valley into the Allegheny Plateau. This is now
          the Cuyahoga Valley. Bedrock exposed in the valley, as well as
          throughout Ohio, consists of relatively flat-lying, layered Paleozoic
          sedimentary rocks. Bedrock records events during three major periods.
        </p>
        <p class="lead text-white nationalpark-text-regular">
          The Devonian system is represented by dark gray to black shales (Ohio
          Shale) that accumulated in a tropical, stagnant sea. The Mississippian
          system is represented by a sequence of shale and interbedded siltstone
          (Bedford Shale), overlain by sandstone (Berea Sandstone), and silty,
          clayey, sandy shales (Cuyahoga Formation). This sequence was deposited
          in changing environments from offshore marine, to coastal, to fluvial,
          and back to offshore marine. The Pennsylvanian system is represented
          by sandstone and conglomerate (Sharon Conglomerate) deposited by
          fluvial braided streams.
        </p>
        <p class="lead text-white nationalpark-text-regular">
          Berea Sandstone is the most recent rock layer, and it is covered with
          glacial till. Exposed bedrock at quarrying sites reveals glacial
          striations. Pink granites and banded gneiss are conspicuous erratic
          compositions and seen frequently in streambeds. These igneous and
          metamorphic rocks have been transported from the Precambrian Canadian
          Shield to the Cuyahoga valley by immense glaciers. As glacial ice
          melted in the valley, a series of ephemeral lakes were formed as
          meltwaters were trapped between the receding ice and end moraines. The
          Cuyahoga Valley is a classic example of a buried glacial valley. A
          valley that has been partially filled in with glacial drift. The
          pre-glacial valley floor is now about 500 feet below the present
          valley floor.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center pt-3 pb-3">
        <a href="javascript:void(0);">
          <img
            src="../../../assets/images/cuyahoga-valley-np/CuyahogaValleyNP_WellSummaries_1000x400px.jpg"
            class="img-fluid"
            (click)="
              openDialog(
                'cuyahoga-valley-np',
                'CuyahogaValleyNP_WellSummaries_2000x800px.jpg'
              )
            "
          />
        </a>
        <p class="nationalpark-text-regular text-white font-italic">
          The most abundant subsurface data available for the “Clinton” comes
          from the more than 80,000 wells drilled over the years. Well data
          include the depths at which the “Clinton” was encountered while
          drilling from the surface. Drillers record the depths at which they
          penetrate the tops of distinctive formations.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-white nationalpark-text-heavy">My Visit</h1>
        <p class="lead text-white nationalpark-text-regular pt-2 pb-5">
          Cuyahoga Valley was only three hours away, making it the closest
          national park to me. With my bike on the roof of my car, I made the
          trip. I parked on the north side of the park and rode my bike south
          along the towpath trail for 13 miles, stopping at the Boston general
          store for a break. The store is a national park visitors center, and
          it has exhibits showing the history of Cuyahoga Valley. Riding along
          the towpath trail, I saw carved stone structures every so often. These
          used to be locks that raised or lowered the water level for boats
          traveling along the canal. The canal was built along the river and
          much of it was now dried out. I realized why the trail I was riding
          was called the towpath. Riding along the Cuyahoga river and seeing the
          history made me understand why the valley was declared a national
          park. As I was riding back, there was a National Park Service
          volunteer standing along the trail with binoculars setup. He allowed
          me to look and I could see a Peregrine falcon. These birds can dive at
          220+ MPH but this one was just resting on a concrete ledge. When I
          made it back to my car, I had ridden almost 26 miles. Cuyahoga Valley
          did not dissapoint when it comes to peaceful scenic nature. Finally, I
          found something I like about Ohio.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <a href="javascript:void(0);">
          <img
            src="../../../assets/images/cuyahoga-valley-np/CuyahogaValleyNP_1_600x600px.jpg"
            class="img-fluid"
            (click)="
              openDialog(
                'cuyahoga-valley-np',
                'CuyahogaValleyNP_1_1332x1001px.jpg'
              )
            "
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a href="javascript:void(0);">
          <img
            src="../../../assets/images/cuyahoga-valley-np/CuyahogaValleyNP_2_600x600px.jpg"
            class="img-fluid"
            (click)="
              openDialog(
                'cuyahoga-valley-np',
                'CuyahogaValleyNP_2_1332x1001px.jpg'
              )
            "
          />
        </a>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-lg-6">
        <a href="javascript:void(0);">
          <img
            src="../../../assets/images/cuyahoga-valley-np/CuyahogaValleyNP_3_600x600px.jpg"
            class="img-fluid"
            (click)="
              openDialog(
                'cuyahoga-valley-np',
                'CuyahogaValleyNP_3_1332x1001px.jpg'
              )
            "
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a href="javascript:void(0);">
          <img
            src="../../../assets/images/cuyahoga-valley-np/CuyahogaValleyNP_4_600x600px.jpg"
            class="img-fluid"
            (click)="
              openDialog(
                'cuyahoga-valley-np',
                'CuyahogaValleyNP_4_1332x1001px.jpg'
              )
            "
          />
        </a>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-lg-6 mx-auto">
        <a href="javascript:void(0);">
          <img
            src="../../../assets/images/cuyahoga-valley-np/CuyahogaValleyNP_5_600x600px.jpg"
            class="img-fluid"
            (click)="
              openDialog(
                'cuyahoga-valley-np',
                'CuyahogaValleyNP_5_1332x1001px.jpg'
              )
            "
          />
        </a>
      </div>
    </div>
    <div class="row">
      <p class="nationalpark-text-regular text-white font-italic pt-5">
        Hacker, David, and David Foster. Geology of National Parks. Edited by
        Ann G. Harris, 7th ed., Kendall Hunt, 2018.
        <br />
        Haneberg-Diggs, Dominique M. “THE ‘CLINTON’ OIL-AND-GAS PLAY IN OHIO.”
        Ohio DNR - Division of Geological Survey, June 2015.
      </p>
    </div>
  </div>
</div>
