mat-card {
  background-color: rgba(122, 122, 122, 0.2);
}

.emu-logo-image {
  background-image: url('../../../assets/images/about-me/emu-logo.png');
  background-size: cover;
}

.mat-card-avatar {
  height: 90px;
  width: 90px;
}
