<div class="container">
  <div class="row pt-3">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <img
        class="img-fluid"
        src="../../../assets/images/about-me/about-me-headshot.jpg"
      />
    </div>
    <div class="col-md-3"></div>
  </div>
  <h1 class="text-white pt-4 text-center display-4">I am Matthew Bury.</h1>
  <h1 class="text-white py-2 text-center display-4">
    WEB & GIS professional living in Ann Arbor, Michigan.
  </h1>
  <h1 class="text-white pt-5 text-center">Education</h1>

  <div class="row pt-3" *ngFor="let edu of education">
    <div class="col-md-12">
      <mat-card class="text-white">
        <mat-card-header>
          <img mat-card-avatar [src]="edu.src" />
          <mat-card-title
            ><h3>{{ edu.title }}</h3></mat-card-title
          >
          <mat-card-subtitle class="text-white lead">{{
            edu.subtitleOne
          }}</mat-card-subtitle>
          <mat-card-subtitle class="text-white lead">{{
            edu.subtitleTwo
          }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="text-white lead">
          {{ edu.content }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <h1 class="text-white pt-5 text-center">Work Experience</h1>
  <div class="row pt-3" *ngFor="let exp of experience">
    <div class="col-md-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="text-white"
            ><h3>{{ exp.title }}</h3></mat-card-title
          >
          <mat-card-subtitle class="text-white lead">{{
            exp.subtitleOne
          }}</mat-card-subtitle>
          <mat-card-subtitle class="text-white lead">{{
            exp.subtitleTwo
          }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="text-white lead">
          {{ exp.content }}
        </mat-card-content>
        <mat-card-actions>
          <mat-chip-list>
            <mat-chip selected color="primary" *ngFor="let chip of exp.chips">
              {{ chip }}
            </mat-chip>
          </mat-chip-list>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
